
{% extends "index.html" %}


{% load static %}
{% block title %}

<title>Login</title>
{% endblock %}

{% block content %}

<style>

.aboutContainer{

    width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    height: fit-content;

}
.aboutContainer img{

       height: 400px;
       width: 400px;

}



</style>


<div class="aboutContainer">


    <div>

        
        <h1 class="title">About VocabRecaller </h1>
        
        <p class="para1">Welcome to VocabRecaller, a free website to help you learn and create a Dictionary  . It's your Dictionary, where you can:
        </p>
        <p class="Para2">
            Make your own Dictionary  with multiple things add in your dictionary such as add synonyms ,antonyms,example of meaning and so on  , and make your favourite meaning.
        </p>
        
        <p class="Para3">VocabRecaller is divided into various main sections that you can navigate easily. Some of the most popular are:
        </p>
        
        <ul>
            
<li>Translator  </li>
<li>Search Any Meaning  </li>
<li>Make your Own Dictionary  </li>
<li>add Favourite Meaning in your profile </li>
</div>


<img src="{% static 'logo.svg' %}" alt="" class="img_about">


</ul>


</div>
 

{% endblock %}

 
 
 