{% extends 'index.html' %}

{%block content%}

<hr>
<center> <h2 style="color:forestgreen;">{{msg}}</h2>    </center> 
<hr>

<div class=" formPage "   >
 

    <h2 style="text-align: center; padding: 0px 105px ;">Add Meaning</h2>
    
 



    <form action="" method="post" class='form' >
        {% csrf_token %}
        <div id="login-form">

            <input type="text" class="text"  name="key" id="key" placeholder="enter headword">
        </div>
        <div class="form-group">
            <input type="text" class="text" name="type" id="type" placeholder="enter type">
        </div>
        <div class="form-group">
            <input type="text" class="text" name="mean" id="mean" placeholder="enter mean">
        </div>
        <div class="form-group">
            <input type="text" class="text" name="synonym" id="synonym" placeholder="enter synonym">
        </div>
        <div class="form-group">
            <input type="text" class="text" name="antonym" id="antonym" placeholder="enter antonym">
        </div>
        <div class="form-group">
            <textarea class="text" name="ex" id="example" placeholder="enter example"></textarea>

        </div>
        <input type="submit" class='btn-login' name="submit" id="submitMeaning" value="submit">




    </form>

</div>

{% endblock %}