
{% extends "index.html" %}
{% block title %}

<title>Login</title>
{% endblock %}

{% block content %}


<style>

.right{

  animation: none;
}

.userDetailProfile {
    display: flex;
    width: 56%;
    justify-content: space-between;
    align-self: center;
    height: auto;
    background: var(--BgPrimary);
    margin: auto;
    color: white;
    margin-bottom: 70px;
    padding: 40px;
    box-shadow: inset 1px 1px 3px white, 1px 1px 3px white;
    font-weight: 600;
    
  }
  .userDetailProfile h1 {
    
    color: maroon; 
    text-transform: capitalize;
    text-shadow:  1px 1px 3px white;
    font-weight:bolder;


 
  }

.container_FavWord{
  width: 80%;
    height: fit-content;
    padding: 30px 0px;
    /* background: blue; */
    display: flex;
    justify-content: center; 
    margin: auto;
    flex-wrap: wrap;

}

.container_FavWord p{
  width: 15%; 
  color: yellow;
  text-transform: capitalize;
  

}
.container_FavWord p:hover{
  width: 15%; 
  color: rgb(218, 218, 218);
  text-decoration: underline;
  cursor: pointer;

}


</style>
  

<br>
<br>

<div class="userDetailProfile">

    <div class="left">

        <img src={{profile_info.img}} alt="userImg" class="userimg">

    </div>
    <div class="middle">
            <div class="rowProfile"> <h1 class="userName" >{{profile_info.username}} </h1>  <a href="/logout" style="border-radius: 4px;padding: 1px 14px; border: 3px solid #4694d0;color: #eaff0c;background: #488ed4;" class="boldtext">Logout  </a>   </div>
            
            <div class="rowProfile">
            <p class="userEmail"> Email :{{profile_info.email}}  </p> 
            <p class="userAge boldtext">Profession: {{profile_info.profession}}  </p> 
          </div>
          </div>
          <div class="right">
 
          </div>
    </div>
 
    
    
    
    </div>
    

    <hr>
  
    <h1 class="userName">Favourite Meaning</h1>
    <hr>

<div class="container_FavWord"  >
   
{% for i  in profile_info.FavMean %}

<p class="Favword00 {{i}}">{{i}}</p>

{% endfor %}
 
 

</div>
    
<div id="box">


 
  </div>
 


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script>

$('.Favword00').click(function(e) {

console.log(e.target.classList[1].trim())
my_data = {
    key: e.target.classList[1].trim()
};
$.ajax({
    url: "{% url 'save' %}",
    method: "POST",
    data: my_data,
    success: function(data) {
        let b = data.status.example.split("||")
        let c = ""
        for (let index = 0; index < b.length; index++) {

            c += `<hr><p class = "example" ><b>${index+1}.</b>    ${b[index]} </p> `
        }
        console.log(data.status.example.split("||"))
        box.innerHTML = `<hr><div class="cont" id="cont">
      <h1 class="headword"> ${data.status.key}</h1> 
      <p class="type">  ${data.status.type}</p>
      <p class="mean"> ${data.status.mean}</p>
      <p class="sunonym">synonyms: ${data.status.synonym}</p>
      <p class="antonym">Antonyms:  ${data.status.antonym}</p>
      <p> Example: </p>${c}`




    }
})

})
  
  </script>

{% endblock %}
          
          
    