.box_joke{
     
    height: auto;
    justify-content: space-between;
    width: 1000px;
    color: brown;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
}
.box_joke h3{
      margin-right: 30px;
}
.box_joke .del{

    color: green;
}