.container_memes{

   
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.container_memes li  {

    margin: 10px;
    text-align: center;
    width: 100px;
    padding: -15px;
    background: linear-gradient(45deg, #ea771d, #ffb44a);
    border-radius: 7px;
    /* font-size: 19px; */
    border: 8px solid rgb(218 135 30);
    height: 50px;
    
}
.container_memes li:hover  {
    
    border: 8px solid rgb(97, 56, 3); 
    transition: 0.4s;
  
}
.container_memes li:active  {

    background: linear-gradient(45deg, #b39985, #997037);
    transform: scale(0.85);
    transition: 0.4s;
  
}

.container_memes li:hover  {

     
    background-color: rgb(109, 93, 93);
   

}
.container_memes li:active  {

     
    background-color: rgb(65, 214, 45);
   

}
.container_memes li a {

  
    color: white;
    font-weight: 600;
    font-size: 21px;
   
    

}
.container_memes .box{

    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
margin: 20px;
     
}
.container_memes .b_cont{

    display: flex;
 
}

 .Favorite{

 

width: auto;
padding: 1px 9px 1px 9px;
background: #ffffff;
color: #ff7f41;
display: flex;
border-radius: 13px;
border: 2px solid white;
height: 28px;
box-shadow: rgb(17 17 26 / 54%) 19px 7px 124px, rgb(17 17 26 / 27%) 0px 1px 24px, rgb(0 2 26 / 63%) 0px 11px 20px;
font-weight: 700;
justify-content: center;
align-items: center;
transition: 1s;

}
.Favorite:hover{
    color: #c07956;
 text-decoration: underline;

}
.Favorite:active{
transform: scale(0.80);
transition: 1s;

}
.box img{

     margin-bottom: 35px;
}
