*{

    margin: 0;
 
    padding: 0;
    text-align: justify;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(229, 229, 229);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(244, 71, 68);   /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(119, 244, 119);  /* creates padding around scroll thumb */
  }

body{
    background-color: rgb(255, 255, 255);
    /* background-color: #2b2828; */
}

.navbar{
 
font-family: sans-serif;
display: flex;
justify-content: space-between;
align-items: flex-start;
width: 100%;
/* background-color: rgb(43, 40, 40); */
height: 40px;
color: rgb(0, 0, 0);
padding: 0px  ;




}
.linksNav{
    width: 66%;
    display: flex;
    font-size: 12px;
    /* background: #7b7171; */
    justify-content: space-between;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 17px 47px;
    
}

.logo{
    text-shadow: 0 0 1px #FF0000, 0 0 1px #0000FF;
font-family: 'My Soul', cursive  !important;
font-weight: 600;
color: #fb641b;
 
padding: 29px;
}



li {

list-style: none;
text-transform: capitalize;

}

li a{
color: white;
text-decoration: none;
font-size: 14px;
}

li a:hover{
color: #000000 !important;
transition: 0.4s;
 
}

i{
width: 20px;
height: 20px;
font-size: 18px !important;
color: white;
}
i:hover{
width: 20px;

color: rgb(0, 0, 0);
}
i:active{
width: 20px;
height: 20px;
color: rgb(233, 32, 32);
}


.margin{

    width: 200px;
    height: 175px;
}


.navbar h3 a{
    color: #fb641b;
 
    font-size: 41px;
}
.navbar h3 a:hover{
    color: rgb(130, 216, 38);
    text-decoration: none;
      
}

.navbar h3 a:active{
    color: rgb(39, 30, 177);
}

.navbar li a:hover{
    color: rgb(111, 101, 247);
    text-decoration: underline;
}
 


.body_footer{

    display: grid;
    grid-template-rows: 3;
    height: 400px;
    max-width: 95%;
    background: linear-gradient(45deg, #fb641b, #d48e1f);
    box-shadow: rgb(17 17 26 / 54%) 19px 7px 124px, rgb(17 17 26 / 27%) 0px 1px 24px, rgb(0 2 26 / 63%) 0px 11px 20px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 100px;
}


.topFooter{
   
    display: flex;

    justify-content: center;
    align-items: center;

}


.topFooter  i{
 
   
    font-size: 34px !important;
    color: rgb(68 68 244);
    border: 4px solid rgb(0, 0, 0);
    width: 48px;
    height: 48px;
    padding: 2px;
    margin: 0px 16px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.topFooter  div:hover{
 
    transform: scale(0.9); 
    transition: 0.4s;
  
}
.topFooter  div{
  
    transition: 0.4s;
  
}

.BottomFooter{
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid; 


}

.BottomFooter .fifcol{
    grid-column-start: 5;
    grid-column-end: 7;
}
 
.BottomFooter .bottomFooterRow{
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-shadow: 1px 1px 7px #ffffff, 1px 1px 6px #ffffff;
    padding-left: 107px;
    color: #4444f4 !important;
    font-weight: 800;
    font-family: cursive;
    cursor: pointer;
    font-style: oblique;
}
.BottomFooter .bottomFooterRow a{
    color: #4444f4 !important;
    text-decoration: none;
    font-weight: 800;
  
}
 
.BottomFooter .bottomFooterRow a:hover{
 
    color: rgb(35, 33, 147) !important;
    text-decoration: underline;
  
}
 
.BottomFooter .createContent{

    width: fit-content;
    background: linear-gradient(45deg, #d3d2ff, #cacaca);
    padding: 10px;
    font-family: 'Orelega One';
    border-radius: 3px;
    font-size: 24px;
    transition: 0.6s;
    color: #4e49f2;
    box-shadow: rgb(17 17 26 / 54%) 19px 7px 124px, rgb(17 17 26 / 27%) 0px 1px 24px, rgb(0 2 26 / 63%) 0px 11px 20px;
  
}
.BottomFooter .createContent:hover{

    width: fit-content;
    background: linear-gradient(45deg, #8886e4, #ffa5a5);
    padding: 10px;
    font-family: 'Orelega One';
    border-radius: 3px;
    font-size: 24px;
    color: #010012;
    transition: 0.6s;
    transform: scale(0.93);
    border-radius: 4px;
}
.BottomFooter .createContent:active{

 
    transform: scale(0.85);
   
}
#news_store{

    margin-top: 100px;
  }