{% extends "search/navbar.html" %}

{% block title %}

<title>profile</title>
{% endblock %}

{% block content %}


<h3>{{message}}</h3>

 <section class='login' id='login'>
        <div class='head'>
        <h1 class='company'>Login</h1>
        </div>
       
           <div class='form'>

<form method="post" novalidate id="login-form"  >
    {% csrf_token %}
     
    <label for="id_username">Username:</label>
   <input type="text"  autofocus="off" autocapitalize="none" autocomplete="off" maxlength="150" class='text' id="id_username" name="username" required><br>
   
   <label for="id_password">Password:</label>
   <input type="password"  autofocus="off" autocapitalize="none" autocomplete="off" maxlength="150" class='text' id="id_password" name="password"  required><br>
   <a href="#" class='forgot'>Forgot?</a>


 
   <br><br>
    
    <a href="http://127.0.0.1:8000/signup"   id="registertransfer" class='btn-login' >Register</a>
    <button class='btn-login' type="submit" name="submit" id="do-login" value="Register">Login</button>
      </form>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <script>
  
  </script>

{% endblock %}