{% extends "search/navbar.html" %}

{% block title %}

<title>profile</title>
{% endblock %}

{% block content %}


<h3>{{message}}</h3>

<form method="post" novalidate class="form_login">
    {% csrf_token %}
    <h1 id="login_title">Login</h1>

    {% for fm in form %}

    <div>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</div>



    {% endfor %}

    <div class="btn"> 
        <a href="http://127.0.0.1:8000/signup" id="signup_btn_re" >Sign Up</a>
        <button type="submit" name="submit" id="slogin" value="Register">Register</button>
    </div>

</form>




{% endblock %}