{% extends "search/navbar.html" %} 

{% block title %}
  
<title>profile</title>
{% endblock %}
     

{% block content %}

<h2>Favorite Quotes</h2>
<hr>
<div class="container_memes">
{% for i in FavQuotes %}
<div class="box_quotes">
    <h2  >{{i.text}}</h2>

<div class="bottom_Quotes">
           
    {% if i.author ==  None %}
    {% else %}
    <h6>{{i.author}}</h6>
    {% endif %}</div>
</div> 

{% endfor %}
</div> 

<br>
<hr>


hi I'm profile
<button type="submit" name="submit" id="slogout" value="Register"><a href="http://127.0.0.1:8000/logout">Logout</a></button>

    {% endblock %}
     
 