{% extends "search/navbar.html" %} 

{% block title %}
  
<title>profile</title>
{% endblock %}
     
{% block content %}
 
 

<form method="post" novalidate class="form_signup">
    {% csrf_token %}
    <h1 id="signup_title">Signup</h1>

    {% for fm in form %}

    <div class="label_input"> {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</div>

    {% endfor %}
    <input type="text" name="Text" placeholder="text">
    <input type="file" name="pimg" placeholder="pimg" accept="image/*">
    <div class="btn"> 
        <a href="http://127.0.0.1:8000/login" id="slogin_re" >Login</a>
        <button type="submit" name="submit" id="signup_btn" value="Register">SignUp</button>
    </div>

</form>

{% comment %} 
<form action="" method="get" class="form_signup">
    <h1 id="signup_title">Signup</h1>
    <input type="text" name="fullname" id="fullname" placeholder="Fullname">
    <input type="email" placeholder="Email" id="email" name="email">
    <input type="Password" placeholder="Password" id="pass" name="pass">
    <input type="Password" placeholder="Confirm Password" id="cpass" name="cpass">
    <input type="text" name="username" id="username" placeholder="Username">
   <div class="btn">

       <a href="http://127.0.0.1:8000/login" value="Login" id="slogin_re" class="both_btn" name="slogin">Login</a>
       <input type="submit" value="Signup" id="signup_btn" class="both_btn" name="signup">

   </div>

</form> {% endcomment %}


 


{% endblock %}
     

 