{% extends "search/navbar.html" %} 

{% block title %}
  
<title>{{key}}</title>
 {% comment %} {{jokes}} {% endcomment %}
{% endblock %}

{% block content %}

<div class="container_memes">
    
    <li><a href="http://127.0.0.1:8000/quotes/">Next</a></li>
    {% for i in quotes %}

<div class="box_quotes">
    <h2>{{i.text}}</h2>

<div class="bottom_Quotes">
    <input type="submit" name="Add To Favorite" value="Add To Favorite" id="Favorite">
         
    {% if i.author ==  None %}
    
    {% else %}
    <h6>{{i.author}}</h6>
    {% endif %}</div>


</div> 

{% endfor %}
</div>
<li><a href="http://127.0.0.1:8000/quotes/">Next</a></li>
    {% endblock %}
     
 
 


 
   
  
    