<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    
    {% endblock %}
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=My+Soul&family=Orelega+One&family=Pacifico&family=Tangerine&display=swap" rel="stylesheet">
 
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 

</head>
 
<body  >
    
    
    <div  >
        
        <div class="navbar">
            <h3 class="logo"><a href="">Nstudio </a></h3>
            <div class="linksNav" style="background-image: url(/static/img/Navimg.svg );" >
                
            <li class="home"> <a href=" /">home </a></li>
            <li class="search"> <a href=" /Search/">search</a></li>
            <li class="jokes"> <a href=" /jokes/">jokes</a></li>
            <li class="memes"> <a href=" /Memes/">memes</a></li>
            <li class="Quates"> <a href=" /quotes/">Quotes</a></li>
            <li class="Trending News"> <a href=" /Trending News/">Trending News</a></li>
            <li class="Top News"> <a href=" /top news/">Top News</a></li>
            <a href="https://www.instagram.com/nstudio.abhay/"  target="_blank" > <i class="fa fa-instagram" ></i></a>
            <a href="https://github.com/abhaychhamman"  title="prfile"   target="_blank" > <i class="fa fa-github" ></i></a>
            <a href=" /profile/"> <i class="fa fa-user" ></i></a>
            
            
        </div>
        </div>
    </div>

<div class="margin"></div>

    {% block content %}<!-- default content text (typically empty) -->{% endblock %}


    
</body>
 
<footer class="body_footer">
  
       
    
    
    <div class="topFooter">
        
        <div class="instagram">  <a href="https://www.instagram.com/nstudio.abhay/"  target="_blank" > <i class="fa fa-instagram" ></i></a></div>
        <div class="github"> <a href="https://github.com/abhaychhamman"  title="prfile"   target="_blank" > <i class="fa fa-github" ></i></a></div>
        <div class="youtube"> <a  href=" https://www.youtube.com/@brainpower9634/playlists"       target="_blank" > <i class="fa fa-youtube" ></i></a></div>
        <div class="google"><a  href=" https://www.google.com/"       target="_blank" > <i class="fa fa-google" ></i></a>  </div>
        <div class=" facebook"> <i class="fa fa-facebook" ></i></div>
        <div class="linkedin"> <i class="fa fa-linkedin" ></i></div>
        
    </div>
    <div class="BottomFooter">

        <div class="fcol bottomFooterRow">
            <div class="Home">  <a href="/">home</a> </div>
            <div class="search">  <a href="/Search/">search</a></div>
            <div class="TrendingNews"><a href="/Trending News/">Trending News</a></div>
            <div class="TopNews"> <a href="/top news/">Top News</a></div>
        
        </div>
        <div class="scol bottomFooterRow">
            <div class="Jokes"> <a href="/jokes/">jokes</a>  </div>
            <div class="Memes"><a href="/Memes/">memes</a> </div>
            <div class="Quotes">  <a href="/quotes/">Quotes</a></div>
            <div class="signup"> <a href="/signup/">signup</a></div>
           
        
        </div>
        <div class="tcol bottomFooterRow ">

            <div class="Aboutus ">About us  </div>
            <div class="ContactUs">Contact us </div>
            <div class="Yourcontent"> Your Content</div>
            <div class="Login">  <a href="/login/">Login</a> </div>
            
        </div>
        <div class="tcol bottomFooterRow ">
           
            <div class="facebook ">facebook  </div>
            <div class="github"> <a href="https://github.com/abhaychhamman"   target="_blank" > github</a></div>
            <div class="youtube"> <a href=" https://www.youtube.com/@brainpower9634/playlists"   target="_blank" > youtube</a> </div>
            <div class="instagram"> <a href="/logout"  target="_blank" >logout</a> </div>
            
        </div>
        
        <div class="fifcol bottomFooterRow "> 
            <div class="createContent"><a href="/ContentPage/">Start Creating Content</a>  </div>
             </div>

    </div>
         
         

</footer> 
<script>
    

    //  use ajax for send Request
    $('.Favorite').click(function (e) {

        console.log("this is abhay ",e.target.name,e.target.id)
        data={
            "type":e.target.name,
            "id":e.target.id
        }
        console.log(e.target.style.display="none")
        console.log(e.target.nextElementSibling.style.display="flex")


        $.ajax({
             
            url: "{% url 'addToFav' %}",
            method: "POST",
            data: data,
            
            success: function (data) {
                 console.log(data)
                 if(data.status=="Login"){
                    $(location).prop('href', '/login/')
                 }
                 

                }
                


            })


        })
   
</script>  

</html>