{% extends "search/navbar.html" %} 


{% load static %}
{% block title %}
  
<title>Home</title> 
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">


    <div class="left">

            <h3>Provide You best <br>
                Best Information Service
                </h3>

                <p>if you want write your article then create your Account on Nstudio</p>
 
                <li><a href="http://127.0.0.1:8000/contentCreation/">start content creating  <i class="fa fa-hand-o-right" aria-hidden="true"></i></a></li>

    </div>
    <div class="right"> <img src="{% static '/img/home page.svg' %}" alt=""  class="home_image">
    </div>

</div>




{% endblock %}